<!DOCTYPE html><!-- Required tag for HTML5 -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <!-- Incluse css and media files -->
    <link rel="icon" type="image/png" href="#"><!-- favicon icon -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/my.styles.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="assets/css/revolution/settings.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/revolution/navigation.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/revolution/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <title>{{PrismicText document.data.title}} | {{site.title}}</title>
</head>

<body>

    <div class="theme-layout">

        {{!-- <div class="se-pre-con"></div><!-- loader --> --}}



        <header role="banner">

            <div class="full-menu-height"></div>

            <div class="main-bar stick">

                <div class="container">

                    <div class="row align-items-center">


                        <div class="col-md-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="{{site.logo.url}}" alt="">
                                </a>
                            </div>
                        </div> <!-- logo -->


                        <div class="col-md-7">
                            <nav role="navigation">
                                <div class="main-menu">
                                    <ul>
                                        <li><a href="/" title="">Home</a></li>

                                        {{#if site.user}}
                                        <li><a href="/library" title="">Library</a></li>
                                        {{else}}
                                        <li><a href="" title="" class="get-login-register">Library</a></li>
                                        {{/if}}

                                        {{#each site.navigation}}
                                        <li><a href="/{{link.uid}}" title="">{{link_label.[0].text}}</a></li>
                                        {{/each}}


                                    </ul>
                                </div>
                            </nav>
                        </div> <!-- navigation -->


                        <div class="col-md-2 text-right">

                            {{#if site.user}}
                            <a href="/logout" class="butn1 butn-light">Logout</a>
                            {{else}}
                            <a href="" class="butn1 butn-light get-login-register">Login</a>
                            {{/if}}

                        </div> <!-- button -->


                    </div>

                </div>

            </div>

        </header>



        <div class="responsive-header">

            <div class="full-menu-height"></div>

            <div class="main-bar stick">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-4 col-sm-3">
                            <div class="logo">
                                <a href="#">
                                    <img src="{{site.logo.url}}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-8 col-sm-9 text-right">
                            <a href="#" class="butn1 butn-light get-login-register">Login</a>
                            <span class="resp-btn">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="menu-wraper">


            <div class="side-menu">



                <span class="close-menu">
                    <i class="fa fa-times"></i>
                </span>


                <ul>
                    <li><a href="/" title="">Home</a></li>

                    {{#if site.user}}
                    <li><a href="/library" title="">Library</a></li>
                    {{else}}
                    <li><a href="" title="" class="get-login-register">Library</a></li>
                    {{/if}}

                    {{#each site.navigation}}
                    <li><a href="/{{link.uid}}" title="">{{link_label.[0].text}}</a></li>
                    {{/each}}
                </ul> <!-- navigation -->



                {{!-- <div class="side-meta topbar style2">
                    <ul class="topbar-contact">
                        <li><a href="mailto:uxnaqvi@gmail.com"><i class="flaticon-mail"></i>uxnaqvi@gmail.com</a></li>
                        <li><a href="tel:8004896589"><i class="flaticon-phone"></i>( 800 ) 489 6589</a></li>
                    </ul>
                    <ul class="socials">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div> --}}



            </div>


        </div>


        <main role="main">