{{>top}}


<section>
    <div class="sub-head">
        <div class="bg-image" style="background-image: url({{document.data.main_image.url}});"></div>
        <div class="sub-meta">


            {{{PrismicHtml document.data.title}}}


        </div>
    </div>
</section><!-- Banner -->



<section>
    <div class="block">
        <div class="container">
            <div class="row">

                {{#if noContainer}}
                {{{body}}}
                {{else}}
                <div class="col-md-11 col-xl-10 mx-auto">{{{body}}}</div>
                {{/if}}

            </div>
        </div>
    </div>
</section>


{{>bottom}}