<section>
    <div class="main-slider">
        <div id="rev_slider_1050_1_wrapper" class="rev_slider_wrapper fullscreen-container"
            data-alias="webproduct-light" data-source="gallery" style="background-color:#ebeff2;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_1050_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">

                <ul>
                    {{#each document.data.homepage_banner}}
                    <!-- SLIDE  -->
                    <li data-index="rs-{{@index}}" data-transition="fade" data-slotamount="7" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="3000" data-rotate="0" data-fstransition="fade" data-fsslotamount="7"
                        data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{main_image.url}}" alt="" title="{{main_image.url}}" data-bgposition="center center"
                            data-ease="Power1.easeOut" data-rotatestart="0" data-rotateend="0" data-blurstart="0"
                            data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg"
                            data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme" id="slide-{{@index}}-layer-1"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-50','-85','-70','-60']"
                            data-fontsize="['25','20','20','18']" data-lineheight="['30','30','30','30']"
                            data-letterspacing="['5','4','3','1']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[15,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; white-space: nowrap; color: rgba(255,255,255,1);font-family: 'Roboto';">
                            {{PrismicText line_1}}</div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme" id="slide-{{@index}}-layer-2"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['30','-15','-10','-10']"
                            data-fontsize="['72','60','50','40']" data-fontweight="['800','700','700','700']"
                            data-lineheight="['70','60','50','40']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; white-space: nowrap; line-height: 40px; color: rgba(255,255,255,1);width:100%;font-family: 'Barlow', sans-serif;">
                            {{PrismicText line_2}}
                            <span style="display: block; color: #e36c4d;">{{PrismicText line_3}}</span>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption rev-btn rev-solid" id="slide-{{@index}}-layer-3"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['170','90','85','70']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-235","delay":""}]'
                            data-responsive_offset="on" data-responsive="off"
                            data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":2800,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power3.easeOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bc:rgba(255,224,129,1);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['center','center','center','center']" data-paddingtop="[20,15,12,12]"
                            data-paddingright="[46,35,35,35]" data-paddingbottom="[20,15,12,12]"
                            data-paddingleft="[46,35,35,35]"
                            style="z-index: 19; white-space: nowrap; font-size: 15px; line-height: 17px; font-weight: 500; background: #e36c4d; color: rgba(255,255,255,1);font-family:Roboto;letter-spacing:0px;border-radius: 36px;">
                            <a href="/{{button_link.uid}}">{{PrismicText button_label}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
    </div>
</section><!-- slider -->
{{!-- <section>
    <div class="block">
        <div class="container">
            <div class="success-story">
                <div class="row align-items-lg-end">
                    <div class="col-md-6">
                        <figure>
                            <img src="assets/images/success-man2.jpg" alt="">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="success-meta genrl-block">
                            <h2>Present a Good Online Course Website</h2>
                            <p>Suspendisse facilisis commodo lobortis. Nullam mollis lobortis ex vel faucibus. Proin nec
                                viverra turpis. Nulla eget justo scelerisque, pretium purus vel, congue libero.</p>
                            <div class="success-video">
                                <img src="assets/images/video-img1.jpg" alt="">
                                <div class="video-meta">
                                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"><i
                                            class="fa fa-play"></i></a>
                                    <strong>Why We Are Successful <span>30sec.</span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- success story --> --}}