<div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
    <div class="course-list-wrap">

        {{#each articles}}
        <div class="course-list">
            <div class="course-thumb">
                <img src="{{data.featured_image.thumbnail.url}}" alt="">
                {{#if new}}
                <span>New</span>
                {{/if}}
            </div>
            <div class="course-meta">
                <div class="course-date">
                    <span>{{PrismicDate first_publication_date}}</span>
                </div>
                <h2><a href="/article/{{id}}">{{PrismicText data.title}}</a></h2>

                <p>{{Shorten data.body}}</p>

                <a href="/article/{{id}}" class="read-more">Read More</a>
            </div>
        </div>
        {{/each}}

    </div>
    <ul class="paginationz top-margin-70">
        <li class="prev"><a href="#" title=""><i class="fa fa fa-caret-left"></i></a></li>
        <li><a href="#" title="">1</a></li>
        <li><a class="active" href="#" title="">2</a></li>
        <li><a href="#" title="">3</a></li>
        <li><a href="#" title="">4</a></li>
        <li class="space">.......</li>
        <li><a href="#" title="">13</a></li>
        <li class="next"><a href="#" title=""><i class="fa fa fa-caret-right"></i></a></li>
    </ul>
</div>

<div class="col-sm-7 col-md-5 col-lg-4 col-xl-3">
    <aside class="sidebar right">
        <div class="widget">
            <div class="widget-title">
                <h4>Categories</h4>
            </div>
            <ul class="helpful-link">

                {{#each categories}}
                <li><a href="#{{slug}}">{{name}}</a></li>
                {{/each}}

            </ul>
        </div>
        <div class="widget black-bg">
            <div class="newsletter-bg">

                <h4>Newsletter</h4>
                <p>Subscribe Our Newsletter and Get Updates.</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" required="required" placeholder="Subscribe Email">
                    </div>
                    <button type="submit" class="btn">Subscribe Now</button>
                </form>
            </div>
        </div>
    </aside>
</div>