<div class="course-page">

    <div id="options">
        <div class="option-isotop">
            <ul id="filter2" class="option-set default" data-option-key="filter">

                {{#each categories}}
                <li><a href="#{{slug}}" data-option-value=".{{slug}}" title="{{name}}">{{name}}</a></li>
                {{/each}}

            </ul>
        </div>
    </div><!-- FILTER BUTTONS -->

    <ul class="row masonry">

        {{#each articles}}
        <li class="col-sm-6 col-lg-4 {{data.category.slug}}">
            <div class="pop-course">
                <div class="course-thumb">
                    <img src="assets/images/course1.jpg" alt="">
                    <a href="course-detail.html" class="butn">View</a>
                </div>
                <div class="course-meta">
                    <h2>{{PrismicText data.title}}</h2>
                </div>
            </div>
        </li>
        {{/each}}

    </ul>

    <ul class="paginationz">
        <li class="prev"><a href="#" title=""><i class="fa fa fa-caret-left"></i></a></li>
        <li><a href="#" title="">1</a></li>
        <li><a class="active" href="#" title="">2</a></li>
        <li><a href="#" title="">3</a></li>
        <li><a href="#" title="">4</a></li>
        <li class="space">.......</li>
        <li><a href="#" title="">13</a></li>
        <li class="next"><a href="#" title=""><i class="fa fa fa-caret-right"></i></a></li>
    </ul>

</div>