<div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">
    <div class="course-list-wrap">

        {{#each articles.results}}
        <div class="course-list">
            <div class="course-thumb">
                <img src="{{data.featured_image.thumbnail.url}}" alt="">
                {{#if new}}
                <span>New</span>
                {{/if}}
            </div>
            <div class="course-meta">

                <h2><a href="/article/{{id}}">{{PrismicText data.title}}</a></h2>

                {{!-- <p>{{Shorten data.body}}</p> --}}

                <a href="/article/{{id}}" class="read-more">Read More</a>
            </div>
        </div>
        {{/each}}

    </div>

    {{{paginator}}}
</div>

<div class="col-sm-7 col-md-5 col-lg-4 col-xl-3">
    <aside class="sidebar right">
        <div class="widget">
            <div class="widget-title">
                <h4>Categories</h4>
            </div>
            <ul class="helpful-link">

                {{#each categories}}
                <li><a href="?category={{id}}">{{name}}</a></li>
                {{/each}}

            </ul>
        </div>
        <div class="widget black-bg">
            <div class="newsletter-bg">

                <h4>Newsletter</h4>
                <p>Subscribe Our Newsletter and Get Updates.</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" required="required" placeholder="Subscribe Email">
                    </div>
                    <button type="submit" class="btn">Subscribe Now</button>
                </form>
            </div>
        </div>
    </aside>
</div>