<head>
	<style type="text/css"></style>
</head>

<body>
	<div dir="ltr">
		<div class="gmail_quote">
			<div style="word-wrap:break-word">
				<div>
					<div>
						<div>
							<br />
							<div>
								<center
									style="font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(240,241,243)">
									<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
										style="border-spacing:0px;margin:0px;color:rgb(122,122,122);font-weight:normal;width:100%!important;max-width:100%!important;padding:0px;font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;height:100%!important;background-color:rgb(240,241,243);table-layout:fixed;min-width:100%!important">
										<tbody>
											<tr>
												<td align="center" valign="top"
													style="margin:0px;padding:0px;font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;height:100%!important;width:100%!important">
													<table bgcolor="#F0F1F3" border="0" cellpadding="0" cellspacing="0"
														width="600"
														style="border-spacing:0px;background-color:rgb(240,241,243)">
														<tbody>
															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%" style="border-spacing:0px">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table border="0" cellpadding="0"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td valign="top"
																									width="600">
																									<table
																										align="center"
																										border="0"
																										cellpadding="0"
																										cellspacing="0"
																										width="100%"
																										style="border-spacing:0px">
																										<tbody>
																											<tr></tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
													<table bgcolor="#F0F1F3" border="0" cellpadding="0" cellspacing="0"
														width="600"
														style="border-spacing:0px;background-color:rgb(240,241,243)">
														<tbody>
															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%" style="border-spacing:0px">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table border="0" cellpadding="0"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td valign="top"
																									width="600">
																									<table
																										align="center"
																										border="0"
																										cellpadding="0"
																										cellspacing="0"
																										width="100%"
																										style="border-spacing:0px">
																										<tbody>
																											<tr>
																												<td align="center"
																													valign="top"
																													style="display:block;text-align:center">
																													<table
																														border="0"
																														cellpadding="0"
																														cellspacing="0"
																														width="100%"
																														style="border-spacing:0px;max-width:100%">
																														<tbody>
																															<tr>
																																<br /><br />
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
													<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0"
														width="600"
														style="border-spacing:0px;background-color:rgb(255,255,255);border:1px solid rgb(224,225,226);border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px">
														<tbody>
															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%" bgcolor="#363C43"
																		style="border-spacing:0px;color:rgb(255,255,255);border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0px;border-bottom-left-radius:0px">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table border="0" cellpadding="0"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td align="center"
																									valign="top"
																									width="600">
																									<table border="0"
																										cellpadding="2"
																										cellspacing="0"
																										width="100%"
																										style="border-spacing:0px">
																										<tbody>
																											<tr>
																												<td align="center"
																													valign="top"
																													style="color:rgb(107,112,117);font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica;font-size:1px;line-height:1.25px;text-align:left;padding-bottom:2px">
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>

															<!-- LOGO -->

															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%"
																		style="border-spacing:0px;color:rgb(107,112,117);border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0px;border-bottom-left-radius:0px">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table border="0" cellpadding="0"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td align="center"
																									valign="top"
																									width="600">
																									<table border="0"
																										cellpadding="30"
																										cellspacing="0"
																										width="100%"
																										style="border-spacing:0px;padding-top:15px">
																										<tbody>
																											<tr>
																												<td
																													align="center">
																													<a href="{{ domain }}"
																														style="font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;text-decoration:none!important"
																														target="_blank"><img
																															alt="Compass"
																															src="{{ logo }}"
																															width="300"
																															border="0"
																															style="border:0px none rgb(255,255,255);outline:none;text-decoration:none;min-height:auto;line-height:16px;display:inline-block!important;font-family:Helvetica,Arial,sans-serif;color:rgb(102,102,102);font-size:16px" /></a>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>

															<!-- LOGO -->

															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%"
																		style="border-spacing:0px;color:rgb(107,112,117);border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0px;border-bottom-left-radius:0px">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table border="0" cellpadding="0"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td align="center"
																									valign="top"
																									width="600">
																									<table border="0"
																										cellpadding="30"
																										cellspacing="0"
																										width="100%"
																										style="border-spacing:0px;">
																										<tbody>
																											<tr>
																												<td align="center"
																													valign="top"
																													style="color:rgb(107,112,117);font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica;font-size:16px;line-height:20px;text-align:left">
																													<h1
																														style="color:rgb(54,60,67);font-weight:500;font-family:AvenirNextLTPro-Medium,'Avenir Next',HelveticaNeueMedium,HelveticaNeue-Medium,'Helvetica Neue Medium',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,sans-serif;font-size:30px;line-height:37.5px;text-align:center;letter-spacing:normal;margin:0px 0px 20px;padding:0px;display:block;font-style:normal">
																														Reset
																														your
																														password
																													</h1>
																													<div
																														style="text-align:center;font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,sans-serif;font-size:16px;margin-bottom:0px;color:rgb(107,112,117);line-height:21.600000381469727px">
																														It
																														happens
																														to
																														the
																														best
																														of
																														us.
																														Click
																														the
																														link
																														below
																														to
																														reset
																														your
																														password.
																													</div>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%" style="border-spacing:0px">
																		<tbody>
																			<tr style="padding-top:0px">
																				<td align="center" valign="top">
																					<table border="0" cellpadding="30"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td align="center"
																									valign="top"
																									width="600"
																									style="padding-top:0px">
																									<table width="100%"
																										border="0"
																										cellspacing="0"
																										cellpadding="0"
																										style="border-spacing:0px">
																										<tbody>
																											<tr>
																												<td align="center"
																													style="padding-bottom:0px;padding-top:0px">
																													<table
																														border="0"
																														cellspacing="0"
																														cellpadding="0"
																														style="border-spacing:0px">
																														<tbody>
																															<tr>
																																<td
																																	align="center">
																																	<a href="{{link}}"
																																		style="font-family:AvenirNextLTPro-Medium,'Avenir Next',HelveticaNeueMedium,HelveticaNeue-Medium,'Helvetica Neue Medium',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,sans-serif;text-decoration:none!important;font-size:16px;font-weight:normal;color:rgb(255,255,255);background-color:rgb(59,153,218);border-width:15px 25px;border-style:solid;border-color:rgb(59,153,218);border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;display:inline-block"
																																		target="_blank">Reset
																																		Password
																																		→</a>
																																</td>
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%" style="border-spacing:0px">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table border="0" cellpadding="0"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td align="center"
																									valign="top"
																									width="600">
																									<table border="0"
																										cellpadding="30"
																										cellspacing="0"
																										width="100%"
																										style="border-spacing:0px;padding-bottom:0px!important;padding-top:0px!important">
																										<tbody>
																											<tr>
																												<td align="center"
																													valign="top"
																													style="padding-top:0px;padding-bottom:0px">
																													<table
																														border="0"
																														cellpadding="0"
																														cellspacing="0"
																														width="100%"
																														style="border-spacing:0px">
																														<tbody>
																															<tr>
																																<td align="center"
																																	valign="top"
																																	style="border-top-width:1px;border-top-style:solid;border-top-color:rgb(222,223,224)">
																																</td>
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%" style="border-spacing:0px">
																		<tbody>
																			<tr>
																				<td align="center" valign="top">
																					<table border="0" cellpadding="0"
																						cellspacing="0" width="600"
																						style="border-spacing:0px">
																						<tbody>
																							<tr>
																								<td align="center"
																									valign="top"
																									width="600">
																									<table border="0"
																										cellpadding="30"
																										cellspacing="0"
																										width="100%"
																										style="border-spacing:0px">
																										<tbody>
																											<tr>
																												<td align="center"
																													valign="top">
																													<table
																														border="0"
																														cellpadding="0"
																														cellspacing="0"
																														width="100%"
																														style="border-spacing:0px">
																														<tbody>
																															<tr>
																																<td valign="top"
																																	style="color:rgb(107,112,117);font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica;font-size:16px;line-height:20px;text-align:left">
																																	<div
																																		style="text-align:center;font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,sans-serif;font-size:16px;margin-bottom:0px;margin-top:3px;color:rgb(107,112,117);line-height:21.600000381469727px">
																																		Or,
																																		paste
																																		this
																																		link
																																		into
																																		your
																																		browser:<br />
																																		<a href="{{link}}"
																																			style="font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;text-decoration:none!important;color:rgb(45,154,229)"
																																			target="_blank">{{link}}</a>
																																	</div>
																																</td>
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
									<br /><br />
								</center>
								<div
									style="font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(240,241,243)">
									<div></div>
									<div></div>
								</div>
								<br
									style="font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(240,241,243)" /><img
									src="http://03h8.mj.am/o/03h8/da1b5fbb/rx0k697e.gif" height="1" width="1" alt=""
									border="0"
									style="border:0px none rgb(255,255,255);outline:none;text-decoration:none;min-height:auto;line-height:12px;display:block;font-family:AvenirNextLTPro-Regular,'Avenir Next',HelveticaNeue,'Helvetica Neue',Avenir,Helvetica,Arial,'Lucida Grande',sans-serif;font-size:12px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(240,241,243)" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>